<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>container-fluid</title>
</head>
<body>
<div class="container-fluid pv11" id="container-fluid" th:fragment="container-fluidFragment">
    <div class="row">
        <div class="col-sm-12">
            <h3 class="heading text-center">Now playing</h3>
            <div class="ticket-carousel pvt85">
                <div class="swiper-container carousel-container movie-images swiper-container-horizontal swiper-container-autoheight" data-col="5">
                    <div class="swiper-wrapper" style="height: 485px;">
                        <div class="swiper-slide swiper-slide-active" style="width: 249px;">
                            <div class="movie-image" data-bg-image="images/carousel/movie-1.jpg" style="background-image: url(&quot;images/carousel/movie-1.jpg&quot;);">
                                <div class="entry-hover">
                                    <div class="entry-actions">
                                        <a href="https://vimeo.com/28177848" class="btn-trailers video-player">watch trailer</a>
                                        <a href="#order" class="btn-ticket order_btn ">buy ticket</a>
                                    </div>
                                </div>
                                <div class="entry-desc">
                                    <div class="rating">
                                        <input name="stars" type="radio">
                                        <label>☆</label>
                                        <input name="stars" type="radio">
                                        <label>☆</label>
                                        <input name="stars" type="radio">
                                        <label>☆</label>
                                        <input name="stars" type="radio">
                                        <label>☆</label>
                                        <input name="stars" type="radio">
                                        <label>☆</label>
                                    </div>
                                    <h3 class="entry-title">X-Men:Apocalypse</h3>
                                    <ul class="entry-date">
                                        <li>11 :00</li>
                                        <li>13 :50</li>
                                        <li>14 :00</li>
                                        <li>18 :00</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide swiper-slide-next" style="width: 249px;">
                            <div class="movie-image" data-bg-image="images/carousel/movie-2.jpg" style="background-image: url(&quot;images/carousel/movie-2.jpg&quot;);">
                                <div class="entry-hover">
                                    <div class="entry-actions">
                                        <a href="https://vimeo.com/28177848" class="btn-trailers video-player">watch trailer</a>
                                        <a href="#order" class="btn-ticket order_btn ">buy ticket</a>
                                    </div>
                                </div>
                                <div class="entry-desc">
                                    <div class="rating">
                                        <input name="stars" type="radio">
                                        <label>☆</label>
                                        <input name="stars" type="radio">
                                        <label>☆</label>
                                        <input name="stars" type="radio">
                                        <label>☆</label>
                                        <input name="stars" type="radio">
                                        <label>☆</label>
                                        <input name="stars" type="radio">
                                        <label>☆</label>
                                    </div>
                                    <h3 class="entry-title">X-Men:Apocalypse</h3>
                                    <ul class="entry-date">
                                        <li>11 :00</li>
                                        <li>13 :50</li>
                                        <li>14 :00</li>
                                        <li>18 :00</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide" style="width: 249px;">
                            <div class="movie-image" data-bg-image="images/carousel/movie-3.jpg" style="background-image: url(&quot;images/carousel/movie-3.jpg&quot;);">
                                <div class="entry-hover">
                                    <div class="entry-actions">
                                        <a href="https://vimeo.com/28177848" class="btn-trailers video-player">watch trailer</a>
                                        <a href="#order" class="btn-ticket order_btn ">buy ticket</a>
                                    </div>
                                </div>
                                <div class="entry-desc">
                                    <div class="rating">
                                        <input name="stars" type="radio">
                                        <label>☆</label>
                                        <input name="stars" type="radio">
                                        <label>☆</label>
                                        <input name="stars" type="radio">
                                        <label>☆</label>
                                        <input name="stars" type="radio">
                                        <label>☆</label>
                                        <input name="stars" type="radio">
                                        <label>☆</label>
                                    </div>
                                    <h3 class="entry-title">X-Men:Apocalypse</h3>
                                    <ul class="entry-date">
                                        <li>11 :00</li>
                                        <li>13 :50</li>
                                        <li>14 :00</li>
                                        <li>18 :00</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide" style="width: 249px;">
                            <div class="movie-image" data-bg-image="images/carousel/movie-4.jpg" style="background-image: url(&quot;images/carousel/movie-4.jpg&quot;);">
                                <div class="entry-hover">
                                    <div class="entry-actions">
                                        <a href="https://vimeo.com/28177848" class="btn-trailers video-player">watch trailer</a>
                                        <a href="#order" class="btn-ticket order_btn ">buy ticket</a>
                                    </div>
                                </div>
                                <div class="entry-desc">
                                    <div class="rating">
                                        <input name="stars" type="radio">
                                        <label>☆</label>
                                        <input name="stars" type="radio">
                                        <label>☆</label>
                                        <input name="stars" type="radio">
                                        <label>☆</label>
                                        <input name="stars" type="radio">
                                        <label>☆</label>
                                        <input name="stars" type="radio">
                                        <label>☆</label>
                                    </div>
                                    <h3 class="entry-title">X-Men:Apocalypse</h3>
                                    <ul class="entry-date">
                                        <li>11 :00</li>
                                        <li>13 :50</li>
                                        <li>14 :00</li>
                                        <li>18 :00</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide" style="width: 249px;">
                            <div class="movie-image" data-bg-image="images/carousel/movie-5.jpg" style="background-image: url(&quot;images/carousel/movie-5.jpg&quot;);">
                                <div class="entry-hover">
                                    <div class="entry-actions">
                                        <a href="https://vimeo.com/28177848" class="btn-trailers video-player">watch trailer</a>
                                        <a href="#order" class="btn-ticket order_btn ">buy ticket</a>
                                    </div>
                                </div>
                                <div class="entry-desc">
                                    <div class="rating">
                                        <input name="stars" type="radio">
                                        <label>☆</label>
                                        <input name="stars" type="radio">
                                        <label>☆</label>
                                        <input name="stars" type="radio">
                                        <label>☆</label>
                                        <input name="stars" type="radio">
                                        <label>☆</label>
                                        <input name="stars" type="radio">
                                        <label>☆</label>
                                    </div>
                                    <h3 class="entry-title">X-Men:Apocalypse</h3>
                                    <ul class="entry-date">
                                        <li>11 :00</li>
                                        <li>13 :50</li>
                                        <li>14 :00</li>
                                        <li>18 :00</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide" style="width: 249px;">
                            <div class="movie-image" data-bg-image="images/carousel/movie-6.jpg" style="background-image: url(&quot;images/carousel/movie-6.jpg&quot;);">
                                <div class="entry-hover">
                                    <div class="entry-actions">
                                        <a href="https://vimeo.com/28177848" class="btn-trailers video-player">watch trailer</a>
                                        <a href="#order" class="btn-ticket order_btn ">buy ticket</a>
                                    </div>
                                </div>
                                <div class="entry-desc">
                                    <div class="rating">
                                        <input name="stars" type="radio">
                                        <label>☆</label>
                                        <input name="stars" type="radio">
                                        <label>☆</label>
                                        <input name="stars" type="radio">
                                        <label>☆</label>
                                        <input name="stars" type="radio">
                                        <label>☆</label>
                                        <input name="stars" type="radio">
                                        <label>☆</label>
                                    </div>
                                    <h3 class="entry-title">X-Men:Apocalypse</h3>
                                    <ul class="entry-date">
                                        <li>11 :00</li>
                                        <li>13 :50</li>
                                        <li>14 :00</li>
                                        <li>18 :00</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-button-prev swiper-button-disabled"></div>
                <div class="swiper-button-next"></div>
            </div>

        </div>
    </div>
</div>
</body>
</html>