<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headFragment" id="head">
    <!-- 스타일 -->
    <style>
        /* 기존 스타일 코드 */
    </style>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <title>Tenguu Cinema - Movie Theater Template</title>
    <meta name="keywords" content="HTML5,CSS3,HTML,Template,Themeton">
    <meta name="description" content="Tenguu Cinema - Movie Theater Template">
    <meta name="author" content="Themeton">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon.png}"/>

    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />

    <!-- CSS 파일 -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/packages.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/default.css}">

    <!-- Google Maps API (중복 제거) -->
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCuuDwFAppkkrpOTWM-hmFwz_zCbP3u_PQ&callback=initMap"></script>

</head>
</html>