<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>section-content-service</title>
</head>
<body>
<div id="section-content-service" th:fragment="section-content-serviceFragment"></div>
    <div class="container wpc-boxoffice pv8">
        <div class="row">
            <div class="col-sm-7 col-xs-12">
                <h3>box office</h3>
                <ul class="wpc-box-list">
                    <li class="wpc-box-item">
                        <ol>
                            <li class="bx-item-t"><img src="images/boxoffice/thumb-1.jpg" alt="thumb"></li>
                            <li class="bx-item-c">1</li>
                            <li class="bx-item-title">
                                <h4>X-Men: Apocalypse</h4>
                                <span>Action, thriller</span>
                            </li>
                            <li class="bx-item-d">1 week</li>
                            <li class="bx-item-m">1.1m</li>
                        </ol>
                    </li>
                    <li class="wpc-box-item">
                        <ol>
                            <li class="bx-item-t"><img src="images/boxoffice/thumb-2.jpg" alt="thumb"></li>
                            <li class="bx-item-c">2</li>
                            <li class="bx-item-title">
                                <h4>Warcraft</h4>
                                <span>Action, thriller</span>
                            </li>
                            <li class="bx-item-d">2 week</li>
                            <li class="bx-item-m">1.2m</li>
                        </ol>
                    </li>
                    <li class="wpc-box-item">
                        <ol>
                            <li class="bx-item-t"><img src="images/boxoffice/thumb-3.jpg" alt="thumb"></li>
                            <li class="bx-item-c">3</li>
                            <li class="bx-item-title">
                                <h4>Hobbit: The battle</h4>
                                <span>Action, thriller</span>
                            </li>
                            <li class="bx-item-d">3 week</li>
                            <li class="bx-item-m">1.3m</li>
                        </ol>
                    </li>
                    <li class="wpc-box-item">
                        <ol>
                            <li class="bx-item-t"><img src="images/boxoffice/thumb-4.jpg" alt="thumb"></li>
                            <li class="bx-item-c">4</li>
                            <li class="bx-item-title">
                                <h4>James Bond: Spectre</h4>
                                <span>Action, thriller</span>
                            </li>
                            <li class="bx-item-d">4 week</li>
                            <li class="bx-item-m">1.4m</li>
                        </ol>
                    </li>
                    <li class="wpc-box-item">
                        <ol>
                            <li class="bx-item-t"><img src="images/boxoffice/thumb-5.jpg" alt="thumb"></li>
                            <li class="bx-item-c">5</li>
                            <li class="bx-item-title">
                                <h4>London has fallen</h4>
                                <span>Action, thriller</span>
                            </li>
                            <li class="bx-item-d">5 week</li>
                            <li class="bx-item-m">1.5m</li>
                        </ol>
                    </li>

                </ul>
            </div>
            <div class="col-sm-5 col-xs-12 ">
                <h3>testimonials</h3>
                <div class="wpc-testimonails">
                    <div class="swiper-container carousel-container swiper-container-horizontal">
                        <div class="swiper-wrapper" style="transform: translate3d(-488px, 0px, 0px); transition-duration: 0ms;"><div class="swiper-slide swiper-slide-duplicate swiper-slide-prev" data-swiper-slide-index="4" style="width: 458px; margin-right: 30px;">
                            <div class="testimonial">
                                <img src="images/author.png" alt="testimonials author">
                                <div class="entry-meta">
                                    <h4>Shela Mathews</h4>
                                </div>
                                <p>
                                    Enthusiastically monetize plug-and-play scenarios through quality manufactured products. Monotonectally streamline standardized portals after proactive innovation. Energistically promote market positioning.
                                </p>
                            </div>
                        </div>
                            <div class="swiper-slide swiper-slide-active" data-swiper-slide-index="0" style="width: 458px; margin-right: 30px;">
                                <div class="testimonial">
                                    <img src="images/author.png" alt="testimonials author">
                                    <div class="entry-meta">
                                        <h4>Shela Mathews</h4>
                                    </div>
                                    <p>
                                        Enthusiastically monetize plug-and-play scenarios through quality manufactured products. Monotonectally streamline standardized portals after proactive innovation. Energistically promote market positioning.
                                    </p>
                                </div>
                            </div>
                            <div class="swiper-slide swiper-slide-next" data-swiper-slide-index="1" style="width: 458px; margin-right: 30px;">
                                <div class="testimonial">
                                    <img src="images/author.png" alt="testimonials author">
                                    <div class="entry-meta">
                                        <h4>Shela Mathews</h4>
                                    </div>
                                    <p>
                                        Enthusiastically monetize plug-and-play scenarios through quality manufactured products. Monotonectally streamline standardized portals after proactive innovation. Energistically promote market positioning.
                                    </p>
                                </div>
                            </div>
                            <div class="swiper-slide" data-swiper-slide-index="2" style="width: 458px; margin-right: 30px;">
                                <div class="testimonial">
                                    <img src="images/author.png" alt="testimonials author">
                                    <div class="entry-meta">
                                        <h4>Shela Mathews</h4>
                                    </div>
                                    <p>
                                        Enthusiastically monetize plug-and-play scenarios through quality manufactured products. Monotonectally streamline standardized portals after proactive innovation. Energistically promote market positioning.
                                    </p>
                                </div>
                            </div>
                            <div class="swiper-slide" data-swiper-slide-index="3" style="width: 458px; margin-right: 30px;">
                                <div class="testimonial">
                                    <img src="images/author.png" alt="testimonials author">
                                    <div class="entry-meta">
                                        <h4>Shela Mathews</h4>
                                    </div>
                                    <p>
                                        Enthusiastically monetize plug-and-play scenarios through quality manufactured products. Monotonectally streamline standardized portals after proactive innovation. Energistically promote market positioning.
                                    </p>
                                </div>
                            </div>
                            <div class="swiper-slide" data-swiper-slide-index="4" style="width: 458px; margin-right: 30px;">
                                <div class="testimonial">
                                    <img src="images/author.png" alt="testimonials author">
                                    <div class="entry-meta">
                                        <h4>Shela Mathews</h4>
                                    </div>
                                    <p>
                                        Enthusiastically monetize plug-and-play scenarios through quality manufactured products. Monotonectally streamline standardized portals after proactive innovation. Energistically promote market positioning.
                                    </p>
                                </div>
                            </div>
                            <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="0" style="width: 458px; margin-right: 30px;">
                                <div class="testimonial">
                                    <img src="images/author.png" alt="testimonials author">
                                    <div class="entry-meta">
                                        <h4>Shela Mathews</h4>
                                    </div>
                                    <p>
                                        Enthusiastically monetize plug-and-play scenarios through quality manufactured products. Monotonectally streamline standardized portals after proactive innovation. Energistically promote market positioning.
                                    </p>
                                </div>
                            </div></div>
                        <div class="swiper-pagination swiper-pagination-clickable"><span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>