<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head.html::headFragment}"></head>
<div id="header" th:replace="~{fragments/header.html ::headerFragment}"></div>
<div id="fullwidth-slider" th:replace="~{fragments/fullwidth-slider.html}"></div>
<div id="section-content" th:replace="~{fragments/section-content.html}"></div>
<div id="section-content-service" th:replace="~{fragments/section-content-service.html}"></div>
<div id="fullscreen-section-pvb0" th:replace="~{fragments/fullscreen-section-pvb0.html}"></div>
<div id="map" th:replace="~{fragments/map.html}"></div>
<div id="footer" th:replace="~{fragments/footer.html::footer-containerFragment}"></div>

<!-- Overlay Search -->
<div id="overlay-search" th:replace="~{fragments/overlay-search.html}"></div>
<div id="order" th:replace="~{fragments/order.html}"></div>
<!-- Include jQuery and Scripts -->
<script type="text/javascript" th:src="@{js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{js/packages.min.js}"></script>
<script type="text/javascript" th:src="@{js/scripts.min.js}"></script>
<!-- jQuery easing plugin -->
</html>